In [1]:
import pandas as pd

In [16]:
# Open the file
CA = pd.read_table("rmsf_Averages.txt", sep='\t', header=None)
CA = CA[[0,1]]
CA.columns = ['Residue ID', 'CArmsf']
CA

     Residue ID    CArmsf
0             1  0.972367
1             2  1.109629
2             3  1.054022
3             4  0.994829
4             5  1.203776
..          ...       ...
389         390  2.022208
390         391  1.915517
391         392  2.195289
392         393  2.533001
393         394  3.366341

[394 rows x 2 columns]

In [13]:
# Open the file
backbone = pd.read_table("rmsf_backbone_Averages.txt", sep='\t', header=None)
backbone = backbone[[0,1]]
backbone.columns = ['Residue ID', 'backboneRMSF']
backbone

     Residue ID  backboneRMSF
0             1      1.006150
1             2      1.113365
2             3      1.129723
3             4      1.038431
4             5      1.196963
..          ...           ...
389         390      1.990844
390         391      1.993148
391         392      2.186199
392         393      2.666486
393         394      3.412250

[394 rows x 2 columns]

In [14]:
# Open the file
sidechain = pd.read_table("rmsf_sidechain_Averages.txt", sep='\t', header=None)
sidechain = sidechain[[0,1]]
sidechain.columns = ['Residue ID', 'sidechainRMSF']
sidechain

     Residue ID  sidechainRMSF
0             1       1.680263
1             2       1.803471
2             3       1.121485
3             4       1.508527
4             5       1.281035
..          ...            ...
389         390       2.698368
390         391       1.895745
391         392       3.229695
392         393       3.162778
393         394       4.891772

[394 rows x 2 columns]

In [17]:
rmsf = CA.merge(backbone, on="Residue ID").merge(sidechain,on="Residue ID")
rmsf

     Residue ID    CArmsf  backboneRMSF  sidechainRMSF
0             1  0.972367      1.006150       1.680263
1             2  1.109629      1.113365       1.803471
2             3  1.054022      1.129723       1.121485
3             4  0.994829      1.038431       1.508527
4             5  1.203776      1.196963       1.281035
..          ...       ...           ...            ...
389         390  2.022208      1.990844       2.698368
390         391  1.915517      1.993148       1.895745
391         392  2.195289      2.186199       3.229695
392         393  2.533001      2.666486       3.162778
393         394  3.366341      3.412250       4.891772

[394 rows x 4 columns]

In [18]:
rmsf.mean()

Residue ID       197.500000
CArmsf             1.674781
backboneRMSF       1.679102
sidechainRMSF      2.123666
dtype: float64

In [19]:
rmsf.std()

Residue ID       113.882249
CArmsf             0.510156
backboneRMSF       0.498630
sidechainRMSF      0.633806
dtype: float64